<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154072991296-76mkvh9gsvsdi4f48d3863ujaqe9db1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154072991296-76mkvh9gsvsdi4f48d3863ujaqe9db1s</string>
	<key>API_KEY</key>
	<string>AIzaSyC6pBwIOKy_SaPDZR9623xXAU8Qp4VbTgU</string>
	<key>GCM_SENDER_ID</key>
	<string>154072991296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dom.sharpie</string>
	<key>PROJECT_ID</key>
	<string>dom-sharpie</string>
	<key>STORAGE_BUCKET</key>
	<string>dom-sharpie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154072991296:ios:06882ed268417cf10b81a5</string>
</dict>
</plist>